.mainContainer {
  width: 100%;
  min-height: 1000px;
  background: #f7f9f9;
}
.centerContent{
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

// 屏幕小于1200时
@media screen and (max-width: 1200px) {
  .centerContent{
    width: 100%;
  }
}
